.cls-1 {
  fill: #ffffff;
}

.cls-2 {
  fill: #f7901e;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  animation: spin 2s linear infinite;
}
